* {
  box-sizing: border-box;
  margin: 0%;
  border: 0%;
  line-height: 1.6em;
}

main {
  width: 100%;
  height: 100vh;
}

body {
  background-color: #bababa;
}

.logo i {
  box-sizing: border-box;
  font-size: 80px;
  padding-top: 58px;
  margin-left: 7%;
}

.logo h1 {
  font-family: "Brush Script MT", cursive;
  font-size: 50px;
  padding-top: 58px;
  margin-left: 1%;
}

nav {
  height: 100vh;
  width: 100%;
}
.nav-row ul {
  list-style-type: none;
  display: flex;
}

.nav-row a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #2a2a2c;
  padding-left: 3%;
  font-size: 21px;
  margin-top: 6.9%;
}

form {
  display: flex;
  margin-top: 6%;
  margin-left: 1.5%;
  border: 3px solid #9a9999;
  border-radius: 50px;
}

input[type="text"] {
  background-color: #eef3f7;
  font-size: 15px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 20%;
  border: none;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
  height: 45px;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: none;
  border-color: #1183d6;
  outline: none;
}

.row {
  display: flex;
}

.title {
  flex-basis: 50%;
}

.title h1 {
  font-family: "Poppins", sans-serif;
  margin-left: 20%;
  margin-top: 12%;
  font-size: 55px;
  margin-bottom: 3%;
}

.title p {
  font-family: "Poppins", sans-serif;
  margin-left: 27%;
  font-size: 18px;
  margin-bottom: 5%;
}

.title-image img {
  background-color: transparent;
  width: 480px;
  height: 400px;
  background-repeat: no-repeat;
  margin-top: 14%;
  margin-left: 18%;
}

.title hr {
  width: 120px;
  height: 5px;
  margin-left: 195px;
  background-color: #555958;
  border: none;
  border-radius: 5px;
  margin-bottom: 7%;
}

.title a {
  margin-left: 26%;
  text-decoration: none;
  color: #2a2a2c;
  font-family: "Poppins", sans-serif;
  font-size: large;
}

.title ul a {
  box-sizing: border-box;
  border: 2px solid #555958;
  padding: 10px 20px;
  margin-left: 27%;
}

.footer-container {
  background-color: #555958;
  margin: 4% 100px;
}

.footer-container h3 {
  font-family: "Poppins", sans-serif;
  margin-top: 4%;
  padding-left: 35%;
  color: #bababa;
  margin-bottom: 5px;
  font-size: 125%;
}

.logos ul {
  color: #bababa;
  align-items: center;
  text-align: center;
  font-size: 23px;
  cursor: pointer;
}
